<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Material Design 18</title>
    <link rel="shortcut icon" type="image/png" href="src/img/icon.png" />

    <meta name="theme-color" content="#1a73e8">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!-- <meta name="description" content="Material '18 - Buttons"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.css">

    <style>
        {%- include_relative src/material.css -%}
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

</head>

<body>

    <nav>
        <a id="menuTrigger" class="waves-effect waves-blue menu-trigger"><i class="material-icons menu">menu</i><i class="material-icons close">close</i></a>
        <h1><img src="src/img/icon.png" /> Material '18</h1>
    </nav>

    <div id="sidenav" class="sidenav waves-white">
        {%- for post in site.posts -%}
        <a href="{{ post.url | relative_url }}" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">home</i></span><span>{{ post.title }}</span></a>
        {%- endfor -%}
        <a href="index.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">home</i></span><span>Home</span></a>
        <a href="setup.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">build</i></span><span>Setup the library</span></a>
        <a href="buttons.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">dashboard</i></span><span>Buttons</span></a>
        <a href="text-inputs.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">text_format</i></span><span>Text inputs</span></a>
        <a href="other-inputs.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">adjust</i></span><span>Other inputs</span></a>
        <a href="modals.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">computer</i></span><span>Modals</span></a>
        <a href="headers.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">vertical_align_top</i></span><span>Headers</span></a>
        <a href="toasts.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">info</i></span><span>Toasts</span></a>
        <a href="icons.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">extension</i></span><span>Icons</span></a>
        <a href="loaders.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">cached</i></span><span>Loaders</span></a>
        <a href="cards.html" class="waves-effect waves-light-blue"><span class="sidenav-icon"><i class="material-icons">check_box_outline_blank</i></span><span>Cards</span></a>

    </div>

    <div id="main" class="main">
    {{ content }}
</div>
<footer>

  <h1 class="title">Material '18</h1>
  <h1>A library for the Material Design 2018 edition</h1>
  <iframe src="https://ghbtns.com/github-btn.html?user=MartonDev&repo=Material-Design-18&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
  <h1 class="author">Made with ♥ by <a href="https://martondev.github.io" target="_blank">Marton</a></h1>

</footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.js"></script>
    <script>
        {%- include_relative src/material.js -%}
    </script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
</body>

</html>
